.containerbg {
    background-color: blue;
}

.nav-link {
    color: blue;
    font-weight: 500;
}

.footer {
    background-color: black;
    color: white;
    text-align: right;
    margin-top: 50px;
    padding-right: 20px;
}